# IDE garbage
.vscode

# Python garbage
.venv
__pycache__
*.pyc
*.pyo
*.pyd

# Development garbage
test*.*
.python-version

# Build garbage
*.build
*.dist
*.onefile-build
*.exe

# Environment variables
.env
